@use "reset";

.body {
  height: 700px;
  width: 1500px;
  margin: 0 auto;

  .container {
    height: 100%;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-image: linear-gradient(0deg, red, yellow, rgb(73, 10, 155));
      animation-name: circle;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: center;
    }

        .circle:hover {
          animation-play-state: paused;
        }

    @keyframes circle {
      0% {  transform:  translateY(0) rotate(-0deg) ;}
      15% {  transform: translateX(350px) translateY(-305px) rotate(-60deg);}
      30% { transform: translateX(700px) translateY(0) rotate(-120deg) ;}
      45% { transform: translateX(350px) translateY(305px) rotate(-180deg) ;}
      60% { transform: translateX(-350px) translateY(-305px) rotate(-240deg);}
      75% { transform: translateX(-700px) translateY(0) rotate(-60deg) ;}
      90% { transform: translateX(-350px) translateY(305px) rotate(0deg);}      
      100% { transform: translateY(0) rotate(60deg) ;}
    }
  }
}